<%= content_for :extra_footer do %>
  <link href="/assets/blue.css" media="screen" rel="stylesheet">
<% end %>


<% if flash.any? %>
  <div class="flash">
    <div class="container">
      <h1><%= flash[:notice]%></h1>
    </div>
  </div>
<%end%>

<div id="rainbow">

  <ul class="blue-boxes" id="buttons" style ="position:relative;margin: auto;width: 675px;">
    <%@path_array.each do |paths|%>
      <li>
        <a class="green box gas" <a style="cursor: pointer" onclick="javascript: window.location = '<%=paths%>'" </a></a>
      </li>
    <%end%>
  </ul>
</div>
