<body bgcolor="#6EFFFF">

<div id="rainbow">

  <ul class="cyan-boxes" id="buttons">
    <%@path_array.each do |paths|%>
      <li>
        <a class="green box gas" <%=link_to "", paths%> </a>
      </li>
    <%end%>
  </ul>
</div>
