<body bgcolor="#FFAAFF">

<% if flash.any? %>
  <div class="flash">
    <div class="container">
      <h1><%= flash[:notice]%></h1>
    </div>
  </div>
<%end%>

<div id="rainbow">

  <ul class="pink-boxes" id="buttons" style ="position:relative;margin: auto;width: 675px;">
    <%@path_array.each do |paths|%>
      <li>
        <a class="green box gas" <%=link_to "", paths%> </a>
      </li>
    <%end%>
  </ul>
</div>
