<nav>
  <ul>
    <li>
      <%= link_to "Back", games_path%>
    </li>
  </ul>
</nav>


<h1>Admin Page</h1>

<div><%= link_to "Reviews", admin_reviews_path %></div>
<div><%= link_to "Chats", admin_chats_path %></div>
