<body bgcolor="#DA4545">
  <div class="scroller" style ="position:relative;margin: auto;width: 530px;">
    <div>
      <h1><%= link_to "Easy", games_path, :method => :post, style:'color:#FFFFFF;text-decoration:none;'%><h1>
    </div>
    <div>
      <h1 style="color:black"><%= link_to "Medium", games_path, :method => :post, style:'color:#FFFFFF;text-decoration:none;' %><h1>
    </div>
    <div>
    <h1>Hard<h1>
    </div>
  </div>
</body>

