@import 'slick';

.scroller {
  div {
    text-align: center;
    font-size: 50px;
    auto: true;
  }
}

ul.red-boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}

ul.boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}
ul.orange-boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}
ul.cyan-boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}
ul.yellow-boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}
ul.darkred-boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}
ul.purple-boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}
ul.blue-boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}
ul.pink-boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}
ul.white-boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}
ul.purple-boxes {
    li:first-child {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    li:nth-child(2) {
        position: absolute;
        left: 250px;
        top: 0px;
    }
    li:nth-child(3) {
        position: absolute;
        left: 500px;
        top: 0px;
    }
    li:nth-child(4) {
        position: absolute;
        left: 0px;
        top: 250px;
    }
    li:nth-child(5) {
        position: absolute;
        left: 250px;
        top: 250px;
    }
    li:nth-child(6) {
        position: absolute;
        left: 500px;
        top: 250px;
    }
    li:nth-child(7) {
        position: absolute;
        left: 0px;
        top: 500px;
    }
    li:nth-child(8) {
        position: absolute;
        left: 250px;
        top: 500px;
    }
    li:nth-child(9) {
        position: absolute;
        left: 500px;
        top: 500px;
    }
}



